# Utiliser Pandas

Un monde  à part entière. Comme pour Excel, des personnes se spécialisent dans Pandas

## Importer Pandas

In [1]:
import pandas as pd

Créer un tableau

In [2]:
pd.DataFrame({"Colonne 1":["A","B","C"],
 "Colonne 2" : [1,2,3]})

  Colonne 1  Colonne 2
0         A          1
1         B          2
2         C          3

<p style="margin-bottom:15cm;"></p>

Récupérer un fichier : https://framaforms.org/node/494716/webform-results/download

## Localiser un fichier

Se déplacer dans l'ordinateur pour ouvrir un fichier

In [3]:
cd .

C:\Users\eschultz\Dropbox\Python pour les SHS\Formations\2022-03-23 URFIST Marseille\Moment 4 - Introduction à Pandas

In [4]:
ls .

 Le volume dans le lecteur C s’appelle OS
 Le numéro de série du volume est 9081-DA08

 Répertoire de C:\Users\eschultz\Dropbox\Python pour les SHS\Formations\2022-03-23 URFIST Marseille\Moment 4 - Introduction à Pandas

21/03/2022  09:48    <DIR>          .
21/03/2022  09:48    <DIR>          ..
21/03/2022  09:48    <DIR>          .ipynb_checkpoints
21/03/2022  09:46    <DIR>          slides
08/12/2021  18:02            15 009 Temps 1 - Manipuler des données avec Pandas.ipynb
08/12/2021  18:03               718 Temps 2 - Exercice.ipynb
               2 fichier(s)           15 727 octets
               4 Rép(s)  144 897 175 552 octets libres

## Charger un fichier

Pandas facilite les opérations d'ouverte/écriture

Visualiser

- Structure de la matrice
- Accéder à un élément : colonne, ligne ; type des données avec dtypes
- Sélectionner : loc, iloc
- Filtrer : définition d'un filtrage, créer une conditions sur une colonne
- Différentes méthodes de Pandas : str, stats
- Différentes fonctions de Pandas bien utile : isnull, notnull

## Manipuler les données - ajout de features

- créer une nouvelle colonne (présence/absence d'un mot)
- appliquer une fonction sur toute la colonne - méthode apply
 - recoder le nom du journal
- sauvegarder le tableau

## Statistiques de base

- faire un dénombrement
- Tout est tableau : faire des tableaux plus complexes
- Calculer différents indicateurs
- Faire un tableau croisé
- Faire une visualisation "out of the box"