# Pandas

### Chargement et objet central

In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame([
                   ["A","B","C"],
                   [1,2,3],
                   [".","#",","],
                   [None,None,None]
                  ]
                 )

In [8]:
df

      0     1     2
0     A     B     C
1     1     2     3
2     .     #     ,
3  None  None  None

In [5]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.shape

(4, 3)

In [11]:
df.columns = ["Colonne 1","Colonne 2","Colonne 3"]

In [12]:
df

  Colonne 1 Colonne 2 Colonne 3
0         A         B         C
1         1         2         3
2         .         #         ,
3      None      None      None

In [13]:
df.index = ["ligne1","ligne2","ligne3","ligne4"]

In [16]:
df["Colonne 1"]

ligne1       A
ligne2       1
ligne3       .
ligne4    None
Name: Colonne 1, dtype: object

In [19]:
df.loc["ligne1","Colonne 1"]  = "Nouvelle valeur"

In [20]:
df

              Colonne 1 Colonne 2 Colonne 3
ligne1  Nouvelle valeur         B         C
ligne2                1         2         3
ligne3                .         #         ,
ligne4             None      None      None

## Chargement de données réelles

In [23]:
df = pd.read_excel("/home/emilien/Téléchargements/litteracie_informatique_en_amont_de_la_formation.xlsx",header=2)

In [31]:
df.columns = ['Séquentiel', 'SID', 'Heure de soumission', 'Heure de complétion',
       'Heure de modification', 'Brouillon', 'Adresse IP', 'UID',
       'Nom',
       'role_ordinateur',
       'code_source',
       'fichier_csv',
       'base_langage',
       'boucle',
       'utiliser_programmation',
       'reconnaitre_python',
       'console_python',
       'programmation_python',
       'fonction_python',
       'pandas',
       'superposer_graphique',
       'idee_application',
       'aspect_interet']

In [34]:
df.to_excel("nouveau_tableau.xlsx")

In [41]:
df = df.drop(columns = df.columns[0:9])
df

,fonction_python,pandas,superposer_graphique,idee_application,aspect_interet
0,Non,Non,Non,NaN,NaN
1,Non,Non,Non,NaN,NaN
2,Non,Non,Non,NaN,NaN
3,Non,Non,Non,Traitement de données textuelles extraites de ...,"Connaîte les bases, non pas pour devenir exper..."
4,Non,Non,Non,non,NaN
5,Non,Non,Non,NaN,Découvrir le langage de programmation Python
6,Non,Non,Non,"Automatiser des actions, traitement en lot","Savoir déchiffrer, comprendre un script écrit ..."
7,Non,Non,Non,Faire des traitement en lots et automatiser de...,Acquérir les bases pour comprendre les scripts...
8,Non,Non,Non,Non! Je l'apprendrai grâce à votre formation,Oui!
9,Oui,Non,Non,NaN,NaN
10,Non,Non,Non,Pas encore avec Python.,Le lexique et les bases essentielles à la pris...